body {
  margin: 0;
  font-size: 30px;

  * {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.2em;
    font-family: 'OPS Placard';
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:active {
    color: inherit;
  }
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

@font-face {
  font-family: "OPS Placard";
  font-style: normal;
  src: url("./assets/fonts/opsplacard-regular_RW.ttf");
}

@font-face {
  font-family: "OPS Placard";
  font-style: italic;
  src: url("./assets/fonts/opsplacard-italic.ttf");
}